<article>
  
  <header>
    <h3><a href="<%= article.url %>"><%= article.title %></a></h3>
    <time class="date" datetime="<%= article.date.strftime("%Y-%m-%d") %>"><%= article.date.formatted %></time>
  </header>

  <% if summary_only %>
    <%= article.summary.formatted %>
    <% if article.summary.length != article.body.length %>
      <span class="read-more"><a href="<%= article.url %>">read on...</a></span>
    <% end %>
  <% else %>
    <%= article.body.formatted %>
    
    <p class="subscribe">Enjoyed the read? Follow me on <a href="http://twitter.com/javierjulio">twitter</a> or subscribe to my <a href="<%= Serious.feed_url %>">feed</a>.</p>
  <% end %>
  
</article>
