<article>
  
  <header class="post-header">
    <h3 class="hN"><a href="<%= article.url %>"><%= article.title %></a></h3>
    <time class="post-date" datetime="<%= article.date.strftime("%Y-%m-%d") %>"><%= article.date.formatted %></time>
  </header>

  <% if summary_only %>
    <%= article.summary.formatted %>
    <% if article.summary.length != article.body.length %>
      <span class="read-more"><a href="<%= article.url %>">read on...</a></span>
    <% end %>
  <% else %>
    <%= article.body.formatted %>
    
    <p class="post-subscribe-message">Enjoyed the read? <a href="http://twitter.com/javierjulio">Follow me on Twitter</a> or <a href="<%= Serious.feed_url %>">subscribe to my feed</a>.</p>
  <% end %>
  
</article>
