<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="utf-8" /> 
<meta name="author" content="Javier Julio" /> 
<meta name="description" content="Javier Julio is a software developer and speaker living in Brooklyn, New York. He designs and creates rich applications for the web, mobile, and desktop environments at 9mmedia in the trendy Soho neighborhood of Manhattan." /> 
<meta name="keywords" content="Javier Julio, software developer, web programmer, web developer, flex, html, css, ajax, jquery, coldfusion, ruby, couchdb, resume, presentations, speaker" /> 
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" /> 
<link rel="shortcut icon" href="/images/avatar_16.png"> 
<title><% unless @title.nil? %><%= @title %> - <% end %>Javier Julio</title> 
<link rel="stylesheet" media="screen,projection" href="/css/layout.css" /> 
<link rel="stylesheet" media="screen,projection" href="/css/color.css" /> 
<link rel="stylesheet" media="print" href="/css/print.css" />
</head> 
<body<% unless @section.nil? %> id="<%= @section %>"<% end %>>

<div id="container"> 
 
	<div id="header"> 
		<div class="inner">
			<h1 class="title">Javier Julio</h1>
			<img src="/images/javier.jpg" class="figure" alt="Javier Julio" width="78" height="100" /> 
			
			<div id="nav"> 
				<ul> 
					<li <% if @section == 'home' %>class="current" <% end %>><a href="/">Javier Julio</a></li>
					<li <% if @section == 'presentations' %>class="current" <% end %>><a href="/presentations">Presentations</a></li> 
					<li <% if @section == 'recipes' %>class="current"<% end %>><a href="/recipes">Recipes</a></li> 
					<li <% if @section == 'resume' %>class="current" <% end %>><a href="/resume">Resume</a></li> 
					<li><a href="mailto:jjfutbol@gmail.com">Contact</a></li> 
				</ul> 
			</div> 
			
			<ul class="elsewhere"> 
				<li><a href="http://www.twitter.com/javierjulio"><img src="/images/twitter_32.png" alt="Twitter" height="32" width="32" /></a></li> 
				<li><a href="http://javierjulio.tumblr.com/"><img src="/images/tumblr_32.png" alt="Tumblr" height="32" width="32" /></a></li> 
				<li><a href="https://github.com/javierjulio"><img src="/images/github_32.png" alt="Tumblr" height="32" width="32" /></a></li> 
				<li><a href="http://www.facebook.com/javierjulio"><img src="/images/facebook_32.png" alt="Facebook" height="32" width="32" /></a></li> 
				<li><a href="http://www.linkedin.com/in/javierjulio"><img src="/images/linkedin_32.png" alt="LinkedIn" height="32" width="32" /></a></li> 
			</ul> 
		</div>
	</div> 
	
	<div id="content">
	
		<div class="inner">
		
		<h2><%= @contentTitle %></h2>
		
		<%= yield %>
	
		</div><!-- /inner --> 
		
	</div><!-- /content --> 
	
	<div id="footer"> 
		<p>&copy; 2004-<%= Time.new.year() %> Javier Julio. All rights reserved.</p> 
		<p> 
			<a href="http://validator.w3.org/check?uri=referer" title="Valid HTML">HTML</a> | 
			<a href="http://jigsaw.w3.org/css-validator/check/referer" title="Valid CSS">CSS</a> | 
			<a href="http://paulrobertlloyd.com/2009/06/social_media_icons" title="Social Network Icon Pack">Icons</a> 
		</p> 
	</div><!-- /footer --> 
	
</div><!-- /container -->

</body> 
</html>