<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><% unless @title.nil? %><%= @title %> - <% end %>Javier Julio</title>
  <meta name="description" content="Javier Julio is a software developer and speaker living in Brooklyn, New York. He designs and creates rich applications for the web, mobile, and desktop environments at 9mmedia in the trendy Soho neighborhood of Manhattan.">
  <meta name="author" content="Javier Julio">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
  <link rel="icon" href="/apple-touch-icon-precomposed.png" type="image/png">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:500,700"><!-- |Open+Sans:400,700 -->
  <link rel="stylesheet" href="/application.css">
  <link rel="alternate" type="application/atom+xml" title="<%= Serious.title %>" href="<%= Serious.feed_url %>" />
  <!--[if lt IE 9]>
  <script src="/assets/javascripts/html5.js"></script>
  <![endif]-->
<body>

<div class="site-container">

  <nav>
    <ul class="nav site-navigation">
      <li<%= ' class="current"' if home_page? %>><a href="/">Javier Julio</a></li>
      <li<%= ' class="current"' if current_page? 'resume' %>><a href="/resume">Resume</a></li>
      <li<%= ' class="current"' if current_page? 'recipes' %>><a href="/recipes">Recipes</a></li>
      <li><a href="<%= Serious.feed_url %>">Subscribe</a></li>
      <li<%= ' class="current"' if current_page? 'about' %>><a href="/about">About</a></li>
      <li><a href="mailto:jjfutbol@gmail.com">Contact</a></li>
    </ul>
  </nav>

  <div class="site-main-content" role="main">
    <% if @contentTitle != '' %><h2><%= @contentTitle %></h2><% end %>
    <%= yield %>
  </div><!-- /content -->

  <footer class="site-footer">
    <p>
      &copy; 2004 - <%= Time.new.year() %> <a href="http://www.javier-julio.com/">Javier Julio</a>.
      <a href="<%= Serious.feed_url %>">RSS</a>.
      <a href="http://www.twitter.com/javierjulio">Twitter</a>.<br>
      Powered by <a href="https://github.com/colszowka/serious">Serious</a> and <a href="http://www.heroku.com/">Heroku</a>.
    </p>
  </footer>

</div><!-- /container -->

<div id="github-ribbon">
  <a href="http://github.com/javierjulio">
    <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" height="149" width="149">
  </a>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3924916-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html>