<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="utf-8" /> 
<meta name="author" content="Javier Julio" /> 
<meta name="description" content="Javier Julio is a software developer and speaker living in Brooklyn, New York. He designs and creates rich applications for the web, mobile, and desktop environments at 9mmedia in the trendy Soho neighborhood of Manhattan." />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" /> 
<link rel="shortcut icon" type="image/png" href="/images/avatar_16.png"> 
<title><% unless @title.nil? %><%= @title %> - <% end %>Javier Julio</title> 
<link type="text/css" rel="stylesheet" media="screen,projection" href="/css/layout.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
<link rel="stylesheet" type="text/css" href="/css/coderay.css">
<link rel="alternate" type="application/atom+xml" title="<%= Serious.title %>" href="<%= Serious.feed_url %>" />
<!-- enables HTML5 elements in IE7 and IE8 --> 
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>

<div id="container">
  
  <header id="banner">
    
    <h1 class="title"><a href="/"><span class="first-name">Javier</span> <span class="last-name">Julio</span></a></h1>
    
  </header>
  
  <nav id="nav">
    
    <ul>
      <li<% if request.path_info.include? 'archives' %> class="current"<% end %>><a href="/archives">Archives</a></li>
      <li<% if request.path_info.include? 'resume' %> class="current"<% end %>><a href="/resume">Resume</a></li>
      <li<% if request.path_info.include? 'presentations' %> class="current"<% end %>><a href="/presentations">Presentations</a></li>
      <li<% if request.path_info.include? 'recipes' %> class="current"<% end %>><a href="/recipes">Recipes</a></li>
      <li><a href="<%= Serious.feed_url %>">RSS</a></li>
      <li<% if request.path_info.include? 'about' %> class="current"<% end %>><a href="/about">About</a></li>
      <li><a href="mailto:jjfutbol@gmail.com">Contact</a></li>
    </ul>
    
  </nav>
  
  <section id="content">
  
    <div class="inner">
      
      <% if @contentTitle %><h2><%= @contentTitle %></h2><% end %>
      
      <%= yield %>
      
    </div><!-- /inner --> 
  
  </section><!-- /content --> 
	
  <footer id="content-footer"> 
  
    <p>
      &copy; 2004 - <%= Time.new.year() %> <a href="http://www.javier-julio.com/">Javier Julio</a> | 
      <a href="http://paulrobertlloyd.com/2009/06/social_media_icons" title="Social Network Icon Pack">Icons</a> | 
      Powered by <a href="">Serious</a>
    </p>
    
    <nav id="social">
      <ul class="elsewhere"> 
        <li><a href="http://www.twitter.com/javierjulio"><img src="/images/twitter_32.png" alt="Twitter" height="24" width="24" /></a></li> 
        <li><a href="http://javierjulio.tumblr.com/"><img src="/images/tumblr_32.png" alt="Tumblr" height="24" width="24" /></a></li> 
        <li><a href="https://github.com/javierjulio"><img src="/images/github_32.png" alt="Tumblr" height="24" width="24" /></a></li> 
        <li><a href="http://www.facebook.com/javierjulio"><img src="/images/facebook_32.png" alt="Facebook" height="24" width="24" /></a></li> 
        <li><a href="http://www.linkedin.com/in/javierjulio"><img src="/images/linkedin_32.png" alt="LinkedIn" height="24" width="24" /></a></li> 
      </ul> 
    </nav>
    
  </footer><!-- /footer --> 
	
</div><!-- /container -->

<a href="http://github.com/javierjulio" id="github-fork"><img src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3924916-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body> 
</html>